[core]
	excludesfile = /Users/ekrambuhl/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Evan Krambuhl
	email = thekrambuhl@gmail.com
[commit]
	template = /Users/ekrambuhl/.stCommitMsg
[include]
    path = ~/.git_alias